mixin main-menu(data)
	nav.main-menu&attributes(attributes)
		ul.main-menu__list
			each item in data
				- var itemClasses = ['main-menu__item']

				li(class=itemClasses)
					if item.hash
						a(href=`/#${item.hash}`).main-menu__link= item.title

