.main-page
	&__header
		// margin-bottom 32px

	&__section
		display flex
		flex-direction column
		justify-content center
		align-items center
		// margin-bottom 32px
		height 100vh

		.people-list
			max-width 600px
			list-style none
			text-align center

			.person
				display inline-block
				padding 15px

		.address
			> span
				display block

	&__text
		max-width 600px

	&__section_quick-start
		margin-right auto
		margin-left auto
		max-width 680px

	&__title
		margin 0
		padding-bottom 1em
		text-align center
		font-weight 400
		font-size em(24px)
